.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f9fafb;
}

.auth-form {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background-color: #3e4879;
  border-radius: 8px;
  box-shadow: 0 4px 12px lch(43.46% 82.11 37.11 / 0.1);
}

.auth-form h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.auth-form p {
  text-align: center;
  margin-bottom: 2rem;
  color: #ffffff;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #374151;
}

.form-group input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  color: #111827;
  background-color: #f9fafb;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-sizing: border-box; /* Important for consistent sizing */
}

.btn-primary {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #3b82f6;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.error-message {
  color: #ef4444;
  text-align: center;
  margin-top: 1rem;
}

.switch-auth {
  text-align: center;
  margin-top: 1.5rem;
  color: #6b7280;
}

.switch-auth a {
  color: #3b82f6;
  text-decoration: none;
}
.switch-auth a:hover {
  text-decoration: underline;
}
