/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

/* CSS Variables for Theming */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
:root {
  --font-main: "Poppins", sans-serif;

  /* Light Theme */
  --primary-color: #00a8e8;
  --secondary-color: #3b8d43;
  --accent-color: #90d8f4;
  --background-color: #f8f6f1;
  --surface-color: #ffffff;
  --text-primary: #333333;
  --text-secondary: #666666;
  --glow-color: rgba(0, 168, 232, 0.5);
}

[data-theme="dark"] {
  /* Dark Theme */
  --primary-color: #90d8f4;
  --secondary-color: #76c893;
  --accent-color: #00a8e8;
  --background-color: #001f3f; /* Dark Navy */
  --surface-color: #002b5c; /* Darker Navy */
  --text-primary: #f8f6f1;
  --text-secondary: #b0c4de;
  --glow-color: rgba(144, 216, 244, 0.6);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  background-color: var(--background-color);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
  line-height: 1.6;
}

h1,
h2,
h3 {
  color: var(--primary-color);
  font-weight: 600;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--accent-color);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px var(--glow-color);
}
